@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:"Noto Sans KR";
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

header {
  /* position: fixed; = 상단바 고정 */
  background:#fff;
  box-shadow:0px 1px 10px 10px rgb(160, 160, 160);
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 9999;
  display: flex;
}

#headerleft {
  flex: 3;
}

#headercenter{
  text-align: center;
  display: block;
  flex: 1;
  text-shadow: 2px 3px 4px gray;
  font-size: 15px;
}


main {
  padding: 10px 0 100px 0;
  height: 500px;
}

.container {
  overflow: hidden;
  width: 80%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
}

#logo {
  position :inline-block;
  padding-left: 30px;
  margin-left: 5px;
  width: 70px;
}

#navBar {
  flex: 3;
  text-align: right;
  padding-right: 30px;
  text-shadow: 2px 3px 4px gray;
}

#navBar ul {
  padding: 0px;
  margin: 0px;
}

#navBar li {
  display: inline;
}

#navBar a
{
  color: #000;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

#navBar a:hover {
  color: red;
  font-weight: 600;
}

#showcase {
  margin-top: -80px;
  min-height: 650px;
  background: url(https://images.unsplash.com/photo-1495714096525-285e85481946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80)no-repeat 0 -100px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

#showcase p {
  line-height: 550px;
  text-align: center;
  color: rgb(75, 74, 74);
  font-size: 80px;
  font-weight: 600;
  text-shadow: 2px 6px 8px gray;
}

/* Profile */

#app p {
  line-height: 1.5em;
}

#app h1+p,
#app p+p {
  margin-top: 10px;
}

.container2 {
  padding: 210px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}

.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/* Portfolio */
#boxes {
  margin-top: 80px;

}

#boxes .box {
  float: left;
  text-align: center;
  width: 33%;
  padding-top: 30px;
  padding-bottom: 11px;
  margin-top: 10px;
  margin: 1px;
  border-radius: 2em;
  background-color: rgb(240, 240, 240);
}

#boxes .box img {
  width: 100px;
  filter: drop-shadow(5px 5px 5px #000);
}

#boxes h3 {
  text-shadow: 2px 3px 4px black;
}

.video {
  width: 100%;
  max-width: 1280px;
  margin: 30px auto;
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 8px 33px #999;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Teamproject */

#worker {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

#worker h1 {
  padding: 0 20px;
  word-break: keep-all;
  text-shadow: 2px 3px 4px gray;
}

#worker p {
  padding: 0 20px;
  word-break: keep-all;
  font-size: 17px;
}

.container3 {
  padding: 0x 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pjimg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#pjimg img {
  width: 60%;
  padding: 10px;
}


#worker .card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 21%;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

/* footer */

  footer {
    margin-top: 100px;
    text-align: center;
    display: flex;
    font-size: 16px;
    color: black;
    justify-content: center;
    background: linear-gradient(to top, #808080, rgb(224, 224, 224), #fff);
    padding: 10px 0;
}

@media(max-width: 1100px) {
header {
  /* position: fixed; */
  display: table;
  text-align: center;
}
#logo {
  margin: 0px;
  padding: 0px;
}
#navBar {
  text-align: center;
  margin-bottom: -30px;
  margin-right: 0px;
  margin-left: 0px;
}
#navBar ul {
  margin: 0px;
}
#showcase p {
  font-size: 50px;
}

main {
  padding: 50px 0 100px 0;
  height: 500px;
}

#navBar {
  padding: 0px;
}

#boxes .box{
  float: none;
  text-align: center;
  width: 100%;
}

}

@media(max-width: 768px) {
  

  #headerleft{
    overflow: hidden;
  }

#navBar {
  flex: none;
  padding-right: 0px;
  text-align: center;
  width: 100%;
}

#headercenter {
  text-align: center;
}

}

@media(max-width: 470px) {

  header {
    position: absolute;
    display: table;
    text-align: center;
  }

  #logo {
    width: 50px;
  }

#headercenter {
  font-size: 15px;
}

#navBar {
  font-size: 10px;
}


  #boxes {
    margin-top: 130px;
  }

  #navBar ul {
    display: flex;
    flex-direction: column;
  }

  main {
    padding: 350px 0 100px 0;
    height: 500px;
  }

 #navBar a {
   padding: 0px;
   margin-top: -20px;
 }

 footer 
 {
   flex-direction: column;
   height: 100px;

 }

 footer p {
   margin: -1px 0;
 }
}